<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mission.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="script/mission.js"></script>
</head>
<body>  
    <div id="navb"> 
   <div id="navc">
    <a href="/home">Home</a>
    <a href="/mission">Our Mission</a>
    <a href="/about">About us</a>
    <a href="#">Our work</a>

    </div>
    {{!-- <div id="lr">
    <button type="button" id="signin_btn" onclick="" class="btn btn-outline-light"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbspLogin</button>&nbsp&nbsp&nbsp
    <button type="button" id="sign_btn" onclick="" class="btn btn-outline-light"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbspRegister as food providers</button>&nbsp&nbsp&nbsp
    <button type="button" id="sign_btn" onclick="" class="btn btn-outline-light"><i class="fa fa-user" aria-hidden="true"></i>&nbsp&nbspRegister as food seeker</button>



    </div> --}}
 </div>
    <div class="quote">
        <center >
            <h1>One-third of food produced for human consumption is lost or wasted globally!!!</h1>
            <p> This wastage not only squanders valuable resources but also exacerbates hunger, strains the environment, and contributes to climate change.
                 To address this issue, we all have to cultivate a mindset of responsibility and take action to reduce 
                 food waste in our daily lives.</p>
        </center>
    </div>
    <br><br><br>    
    <div class="content">
        <div class="lines">
            <h1 style="font-size: 60px;">Mission: Reducing Food Waste, Nourishing Communities</h1>
        <p>we believe in a world where food waste is minimized, communities thrive, and the planet flourishes. 
             Our mission is to revolutionize the way we approach food waste,
             creating a positive impact on the environment and addressing the pressing issue of food waste.</p>
        </div>
        <div class="pic" style="margin-top: 80px; margin-right:50px">
            <img src="https://th.bing.com/th/id/OIP.DFI01-5U7-FHZgrnhulaowHaE8?rs=1&pid=ImgDetMain" alt="">
        </div>
        </div>
        <div class="help">
            <h1 style="font-size: 60px;">Join Us in the Movement</h1>
            <div class="volunteer">
                <h1 style="font-size: 60px;">your skills are valuable</h1>
                <div class="content">
                </div>

{{!-- <div class="slideshow-container">
  <!-- Slides -->
  <div class="mySlides">
    <img src="https://hips.hearstapps.com/hmg-prod/images/teamwork-in-homeless-shelter-royalty-free-image-1608327313.?crop=1.00xw:0.755xh;0,0.142xh&resize=1200:*" alt="Slide 1">
  </div>

  <div class="mySlides">
    <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="Slide 2">
  </div>

  <div class="mySlides">
    <img src="https://cdn.givind.org/static/images/campaign/target-image1.jpg" alt="Slide 3">
  </div>

  <div class="mySlides">
    <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="Slide 2">
  </div>
  <div class="mySlides">
    <img src="https://cdn.givind.org/static/images/campaign/target-image1.jpg" alt="Slide 3">
  </div>
  <div class="mySlides">
    <img src="https://imgmedia.lbb.in/media/2019/11/5dca970153703c2f98a11c72_1573558017041.JPG" alt="Slide 2">
  </div>
<br><br><br>
  <!-- Navigation dots -->
  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div> --}}
</div>
{{!-- <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="https://www.thrivedc.org/wp-content/uploads/2015/09/Volunteer-Long.jpg" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="https://feedinghk.org/wp-content/uploads/2020/08/Delivery-Assistant-scaled-1.jpg" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="https://th.bing.com/th/id/OIP.xbRBYe14oPiF8pnDeUMcPQHaFK?rs=1&pid=ImgDetMain" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div> --}}
  <a style="text-decoration:none;font-size:30px"href="#"><h1>volunteer form</h1></a>
            </div>
            <div class="denote">
                <div class="content">
                    <div class="lines">
                        <h1 style="font-size: 60px;">Your Support</h1>
                        <p> where we are committed to tackling two pressing issues: hunger and food waste. In a world where 
                        millions go to bed hungry
                         every night and tons of edible food are discarded, your support can be a beacon of hope.</p>
                        <p>Help us amplify our message by sharing our mission with your network. 
                            Follow us on social media, use our hashtags, and encourage others to join the movement.</p>
                        <a style="text-decoration: none;" href="#"><h1>Donation form</h1></a>
                    </div>
                     <div  style="margin-top: 80px; margin-right:50px" class="pic">
                        <img src="https://thefunquotes.com/wp-content/uploads/2020/10/THEFUNQUOTES.COM-2-97.jpg" alt="">
                     </div>
                </div>
            </div>
        </div>
        <div class="last">
            <center><h1 style="font-size: 70px;">Together, Let's Make a Difference</h1></center>
        </div>
        <script src="script/slide.js"></script>
       
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>