<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Single+Day&display=swap" rel="stylesheet">
</head>
<body>
 

<div id="navb">
   <div id="navc">
   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<a href="/home">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/mission">Our Mission</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/about">About us</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="#">Our work</a>

    </div>
    <div id="lr">
    <button type="button" id="signin_btn" onclick="" class="btn btn-outline-light">Login</button>&nbsp&nbsp&nbsp
    <button type="button" id="sign_btn" onclick="" class="btn btn-outline-light">Register</button>
   


    {{!-- <button id ="sign_btn" onclick=""><i class="fas fa-user"></i>&nbsp;Register</button>
                                <button id ="signin_btn" onclick="">Login</button></div>  --}}
    </div>
 </div>


    <br><br>
 
 <div id="img-block">

  </div>
  <div id="center-block">
    
    <br>
    <br>
    <br>

    <div  id ="block1">
        <br><br>
        <div id = "pr">
            <br>
            <br>
        <p style="margin-left: 25px;">Mealpie</p><br><br>
        <h3 style="color: rgb(3, 98, 14); position:absolute ;margin-top:100px ; margin-left:25px;font-size:25px;">Create an account</h3>
        
        <div id="centered-image"></div>
        <div id="centered-image2"></div>
        </div>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div id="block2">
            <p style="color: rgb(3, 98, 14);">Surplus<br> to Sustenance Transformation</p>
            <div id="centeredI-image"></div>
            <div id="centeredI-image2"></div>
    </div>



    </div>
    <div id="login-box"><br>
            <form action="/register" method="POST">
            <div class="login-form">
            <p style="font-size: 30px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color: white;" >Sign up</p>
                <div class="form-group">

                        {{!-- <label for="" style="color: white;">Name</label><br><br>
                        <input type="text" id="name" name="name" required> --}}

                        <label for="" style="color: white;">Name</label>
                        <input type="text" id="name" name="name" required>

                        <label for="" style="color: white;">E-Mail</label>
                        <input type="email" id="email" name="email" required> 

                        <label for=""style="color: white;line-height:1.5">Phone Number</label>
                        <input type="tel" id="phonenumber" name="phonenumber" required>

                        <label for=""style="color: white;">Organisation Name / Individual Name</label>
                        <input type="text" id="organisation" name="organisation" required> 

                        <label for=""style="color: white;">Address</label>
                        <input type="text" id="address" name="address" required>

                        <label for="password"style="color: white;">Password</label>
                        <input type="password" id="password" name="password" required>

                        <label for=""style="color: white;">Confirm Password</label>
                        <input type="password" id="confirmpassword" name="confirmpassword" required> <br>

                <br>
                
                <button id="login-button" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
   
</div>

</div>

<script src="script/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html>
        
                
                
                

