body{
    margin: 0;
}

.quote h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quote p{
    font-size: 25px;
}
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
  }
  
  /* Style for slides */
  .mySlides {
    display: none;
  }
  
  .mySlides img{
    height: 400px;
    width: 1200px;
  }
.quote center{
    margin-top:50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    background: linear-gradient(to right,#D0D7FC, #AAEAE0);
    padding: 30px;
    border-radius: 12px;
    color: rgb(16, 43, 64);
}
.quote center h1,p{
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.content {
    display: flex;
    gap: 100px;
}
.content .lines p,h1 {
    position: left;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 800px;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#navb{
    /* background: linear-gradient(to right,#00a169, #79f128,#00a550); */
    background: linear-gradient(to right, #08441e,rgb(64, 116, 57), #08441e,#206a50, #08441e,rgb(64, 116, 57), #08441e,#3da82d);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  #lr
  {
    display: flex;
    width: 700px;
    justify-content: flex-end;
    color: white;
    
  }
  #navc a:hover{
    color: #000000;
    border-bottom: 0px solid #ffffff; /* You can adjust the color and style as needed */
    display: inline-block; 
    
  }

  #navc a
  {
      padding:10px;
      color:white;
      text-decoration: none;
      font-family: 200px;
      font-weight: 550;
      font-size: 17.5px;
      margin-right: 18px;
  }
  
  #navc {
    font-weight: 500;
    margin-left: 5px;
    display: flex; 
    width:600px;
    color: white;
    font-size: 18px;
  }
  #sign_btn{
    
    font-weight: 500;
    
}


#signin_btn {

    font-weight: 500;
   
   
}
  #navc{
    font-weight: 500;
    margin-left: 150px;
    display: flex; 
    width:600px;
    color: white;
    font-size: 18px;
  }
